<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://res.cloudinary.com/dh7mp7shk/image/upload/v1676962889/Web_banner_fg0eoo.png" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

<div class="container mt-3">
  <h1>Here is the Booking Index</h1>
  <div class="cards">
    <% @bookings.each do |booking| %>
      <div class="card">
        <div class="card">
          <div class="card-product">
            <img src="https://images.pexels.com/photos/2679501/pexels-photo-2679501.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" />
            <div class="card-product-infos">
              <h2> <%= booking.course.name %> </h2>
              <p><%= booking.start_time %></p>
              <p><%= booking.user.first_name %></p>
              <p>¥<%= booking.course.price %></p>
            </div>
          </div>
        </div>
        <%# <%= link_to '', booking_path(booking.id), class: 'card-trip-link' %>
      </div>
    <% end %>
  </div>
</div>
