<div class="container mt-3">
  <h1>Your Reservations</h1>
  <div class="cards">
    <% @bookings.each do |booking| %>
      <div class="card">
        <div class="card">
          <div class="card-product">
            <img src="https://res.cloudinary.com/dh7mp7shk/image/upload/v1677219376/Screenshot_2023-02-24_at_3.16.03_PM_a0bvyx.png" />
            <div class="card-product-infos">
              <h2> <%= booking.course.name %> </h2>
              <p><%= booking.start_time %></p>
              <p>Chef: <%= booking.user.first_name.capitalize %></p>
              <p>¥<%= booking.course.price %></p>
              <p>Status: <%= booking.status.capitalize %></p>
            </div>
          </div>
        </div>
        <%# <%= link_to '', booking_path(booking.id), class: 'card-trip-link' %>
      </div>
    <% end %>
  </div>
</div>
