<div class="container mt-4">
  <h1><%= @course.name %></h1>
  <h3 class="me-4"></h3><h3><%= @course.user.address %></h3>
  <div class="">
  <form class="star-rating">
  <input type="radio" name="review[rating]" value="1" />
  <input type="radio" name="review[rating]" value="2" />
  <input type="radio" name="review[rating]" value="3" checked />
  <input type="radio" name="review[rating]" value="4" />
  <input type="radio" name="review[rating]" value="5" />
</form>

<!-- Next line isn't necessary if you already have Font Awesome 5 in your app -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="cards">
          <% @course.photos.each do |photo| %>
            <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
          <% end %>

        </div>
        <p class="mt-5"><%= @course.description %></p>
      </div>

      <div class="col-12 col-lg-4">
        <div class="form shadow-lg p-3 mb-5 bg-body">
          <h3>￥<%= @course.price %></h3>
          <%= simple_form_for [@course, @booking] do |f| %>
            <%= f.input :start_time, html5: true %>
            <%= f.submit 'Reserve', class: 'btn btn-danger mt-2 text-white' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
