<div class="container mt-4">
  <h1><%= @course.name %></h1>
  <h3 class="me-4"></h3><h3><%= @course.user.address %></h3>
  <div class="">
  <form class="star-rating">
  <input type="radio" name="review[rating]" value="1" />
  <input type="radio" name="review[rating]" value="2" />
  <input type="radio" name="review[rating]" value="3" checked />
  <input type="radio" name="review[rating]" value="4" />
  <input type="radio" name="review[rating]" value="5" />
</form>

<!-- Next line isn't necessary if you already have Font Awesome 5 in your app -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="cards">
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1617093727343-374698b1b08d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80)">
          </div>

          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1607330289024-1535c6b4e1c1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80)">
          </div>

          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1618449840665-9ed506d73a34?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80)">
          </div>

          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1574484284002-952d92456975?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80)">
          </div>

        </div>
        <p class="mt-5"><%= @course.description %></p>
      </div>

      <div class="col-12 col-lg-4">
        <div class="form shadow-lg p-3 mb-5 bg-body">
          <h3>￥<%= @course.price %></h3>
          <%= simple_form_for [@course, @booking] do |f| %>
            <%= f.input :start_time, html5: true %>
            <%= f.input :end_time, html5: true %>
            <%= f.submit 'Reserve', class: 'btn btn-danger mt-2 text-white' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
