<!DOCTYPE html>
<html>
  <head>
    <title>City2table</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
  </head>
  <body>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <div class="container-fluid">
        <%= link_to courses_path, class: "navbar-brand" do %>
          <%= image_tag "https://res.cloudinary.com/dh7mp7shk/image/upload/v1676962889/Web_banner_fg0eoo.png"%>
        <% end %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
            <% if user_signed_in? %>
              <li class="nav-item active">
                <li class="nav-item dropdown">
                  <%= image_tag "https://res.cloudinary.com/djzdj5fnx/image/upload/v1677119654/moomin_ystyrf.jpg", class: "avatar dropdown-toggle ms-3", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <%= link_to "Your Reservations", bookings_path, class: "dropdown-item" %>
                    <%= link_to "Chef Bookings", chef_bookings_path, class: "dropdown-item" %>
                    <%= link_to "Create a new course", new_course_path, class: "dropdown-item" %>
                    <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
                  </div>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "Login", new_user_session_path, class: "nav-link" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <%= yield %>
    </body>
  </html>
